[submodule "lib/vk-bootstrap"]
	path = lib/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git

[submodule "lib/SDL3"]
	path = lib/SDL3
	url = https://github.com/libsdl-org/SDL.git

[submodule "lib/ImGui"]
	path = lib/ImGui
	url = https://github.com/ocornut/imgui.git
	ignore = dirty

[submodule "lib/GLM"]
	path = lib/GLM
	url = https://github.com/g-truc/glm.git

[submodule "lib/TinyObjLoader"]
	path = lib/TinyObjLoader
	url = https://github.com/tinyobjloader/tinyobjloader.git

[submodule "lib/VulkanMemoryAllocator"]
	path = lib/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git

[submodule "lib/volk"]
	path = lib/volk
	url = https://github.com/zeux/volk.git
